<p>Dear {{ name }},</p>
<p>Your reservation has been confirmed.</p>
<p>Please log in to our service using the following URL to view the details.</p>
<p>
    <a href="{{ url }}">{{ url }}</a>
</p>
<p>If you have any questions or concerns, please contact our support team.</p>
<p>※If you cannot tap the URL, please copy and paste it into your browser.</p>
<p>※This is a delivery-only email.</p>